- PySpark Dataframe
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [168]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [169]:
spark

In [170]:
df_spark = spark.read.option('header','true').csv('play_tennis.csv', inferSchema = True)

In [171]:
df_spark

DataFrame[day: string, outlook: string, temp: string, humidity: string, wind: string, play: string]

In [172]:
df_spark.printSchema()

root
 |-- day: string (nullable = true)
 |-- outlook: string (nullable = true)
 |-- temp: string (nullable = true)
 |-- humidity: string (nullable = true)
 |-- wind: string (nullable = true)
 |-- play: string (nullable = true)

In [173]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [174]:
df_spark.columns

['day', 'outlook', 'temp', 'humidity', 'wind', 'play']

In [175]:
df_spark.head(3)

[Row(day='D1', outlook='Sunny', temp='Hot', humidity='High', wind='Weak', play='No'),
 Row(day='D2', outlook='Sunny', temp='Hot', humidity='High', wind='Strong', play='No'),
 Row(day='D3', outlook='Overcast', temp='Hot', humidity='High', wind='Weak', play='Yes')]

In [176]:
df_spark.show()

+---+--------+----+--------+------+----+
|day| outlook|temp|humidity|  wind|play|
+---+--------+----+--------+------+----+
| D1|   Sunny| Hot|    High|  Weak|  No|
| D2|   Sunny| Hot|    High|Strong|  No|
| D3|Overcast| Hot|    High|  Weak| Yes|
| D4|    Rain|Mild|    High|  Weak| Yes|
| D5|    Rain|Cool|  Normal|  Weak| Yes|
| D6|    Rain|Cool|  Normal|Strong|  No|
| D7|Overcast|Cool|  Normal|Strong| Yes|
| D8|   Sunny|Mild|    High|  Weak|  No|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|
|D10|    Rain|Mild|  Normal|  Weak| Yes|
|D11|   Sunny|Mild|  Normal|Strong| Yes|
|D12|Overcast|Mild|    High|Strong| Yes|
|D13|Overcast| Hot|  Normal|  Weak| Yes|
|D14|    Rain|Mild|    High|Strong|  No|
+---+--------+----+--------+------+----+

In [177]:
df_spark.select(['outlook', 'wind']).show()

#  select multiple rows

+--------+------+
| outlook|  wind|
+--------+------+
|   Sunny|  Weak|
|   Sunny|Strong|
|Overcast|  Weak|
|    Rain|  Weak|
|    Rain|  Weak|
|    Rain|Strong|
|Overcast|Strong|
|   Sunny|  Weak|
|   Sunny|  Weak|
|    Rain|  Weak|
|   Sunny|Strong|
|Overcast|Strong|
|Overcast|  Weak|
|    Rain|Strong|
+--------+------+

In [178]:
df_spark.dtypes

[('day', 'string'),
 ('outlook', 'string'),
 ('temp', 'string'),
 ('humidity', 'string'),
 ('wind', 'string'),
 ('play', 'string')]

In [179]:
df_spark.describe().show()

+-------+----+--------+----+--------+------+----+
|summary| day| outlook|temp|humidity|  wind|play|
+-------+----+--------+----+--------+------+----+
|  count|  14|      14|  14|      14|    14|  14|
|   mean|NULL|    NULL|NULL|    NULL|  NULL|NULL|
| stddev|NULL|    NULL|NULL|    NULL|  NULL|NULL|
|    min|  D1|Overcast|Cool|    High|Strong|  No|
|    max|  D9|   Sunny|Mild|  Normal|  Weak| Yes|
+-------+----+--------+----+--------+------+----+

In [180]:
df_spark = df_spark.withColumn('temp_updated', df_spark['temp'])

#  for adding columns

In [181]:
df_spark.show()

+---+--------+----+--------+------+----+------------+
|day| outlook|temp|humidity|  wind|play|temp_updated|
+---+--------+----+--------+------+----+------------+
| D1|   Sunny| Hot|    High|  Weak|  No|         Hot|
| D2|   Sunny| Hot|    High|Strong|  No|         Hot|
| D3|Overcast| Hot|    High|  Weak| Yes|         Hot|
| D4|    Rain|Mild|    High|  Weak| Yes|        Mild|
| D5|    Rain|Cool|  Normal|  Weak| Yes|        Cool|
| D6|    Rain|Cool|  Normal|Strong|  No|        Cool|
| D7|Overcast|Cool|  Normal|Strong| Yes|        Cool|
| D8|   Sunny|Mild|    High|  Weak|  No|        Mild|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|        Cool|
|D10|    Rain|Mild|  Normal|  Weak| Yes|        Mild|
|D11|   Sunny|Mild|  Normal|Strong| Yes|        Mild|
|D12|Overcast|Mild|    High|Strong| Yes|        Mild|
|D13|Overcast| Hot|  Normal|  Weak| Yes|         Hot|
|D14|    Rain|Mild|    High|Strong|  No|        Mild|
+---+--------+----+--------+------+----+------------+

In [182]:
#  for removing the colomns

df_spark = df_spark.drop('temp_updated')

In [183]:
df_spark.show()

+---+--------+----+--------+------+----+
|day| outlook|temp|humidity|  wind|play|
+---+--------+----+--------+------+----+
| D1|   Sunny| Hot|    High|  Weak|  No|
| D2|   Sunny| Hot|    High|Strong|  No|
| D3|Overcast| Hot|    High|  Weak| Yes|
| D4|    Rain|Mild|    High|  Weak| Yes|
| D5|    Rain|Cool|  Normal|  Weak| Yes|
| D6|    Rain|Cool|  Normal|Strong|  No|
| D7|Overcast|Cool|  Normal|Strong| Yes|
| D8|   Sunny|Mild|    High|  Weak|  No|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|
|D10|    Rain|Mild|  Normal|  Weak| Yes|
|D11|   Sunny|Mild|  Normal|Strong| Yes|
|D12|Overcast|Mild|    High|Strong| Yes|
|D13|Overcast| Hot|  Normal|  Weak| Yes|
|D14|    Rain|Mild|    High|Strong|  No|
+---+--------+----+--------+------+----+

In [184]:
#  renaming colomns

df_spark.withColumnRenamed('outlook', 'weather').show()

+---+--------+----+--------+------+----+
|day| weather|temp|humidity|  wind|play|
+---+--------+----+--------+------+----+
| D1|   Sunny| Hot|    High|  Weak|  No|
| D2|   Sunny| Hot|    High|Strong|  No|
| D3|Overcast| Hot|    High|  Weak| Yes|
| D4|    Rain|Mild|    High|  Weak| Yes|
| D5|    Rain|Cool|  Normal|  Weak| Yes|
| D6|    Rain|Cool|  Normal|Strong|  No|
| D7|Overcast|Cool|  Normal|Strong| Yes|
| D8|   Sunny|Mild|    High|  Weak|  No|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|
|D10|    Rain|Mild|  Normal|  Weak| Yes|
|D11|   Sunny|Mild|  Normal|Strong| Yes|
|D12|Overcast|Mild|    High|Strong| Yes|
|D13|Overcast| Hot|  Normal|  Weak| Yes|
|D14|    Rain|Mild|    High|Strong|  No|
+---+--------+----+--------+------+----+

In [185]:
df_spark1 = spark.read.csv('play_tennis_updated.csv', header = True, inferSchema = True)

In [186]:
df_spark1.show()

+---+--------+----+--------+------+----+-----+
|day| outlook|temp|humidity|  wind|play|hours|
+---+--------+----+--------+------+----+-----+
| D1|   Sunny| Hot|    High|  Weak|  No|    3|
| D2|   Sunny| Hot|    High|Strong|  No|    5|
| D3|Overcast| Hot|    High|  Weak| Yes|   10|
| D4|    Rain|Mild|    High|  Weak| Yes|    4|
| D5|    Rain|Cool|  Normal|  Weak| Yes|   18|
| D6|    Rain|Cool|  Normal|Strong|  No|   15|
| D7|Overcast|Cool|  Normal|Strong| Yes|    7|
| D8|   Sunny|Mild|    High|  Weak|  No|    5|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|   12|
|D10|    Rain|Mild|  Normal|  Weak| Yes|   11|
|D11|   Sunny|Mild|  Normal|Strong| Yes|    6|
|D12|Overcast|Mild|    High|Strong| Yes|    6|
|D13|Overcast| Hot|    NULL|  Weak| Yes| NULL|
|D14|    Rain|NULL|    High|  NULL|  No| NULL|
+---+--------+----+--------+------+----+-----+

In [187]:
df_spark1.drop('temp').show()

+---+--------+--------+------+----+-----+
|day| outlook|humidity|  wind|play|hours|
+---+--------+--------+------+----+-----+
| D1|   Sunny|    High|  Weak|  No|    3|
| D2|   Sunny|    High|Strong|  No|    5|
| D3|Overcast|    High|  Weak| Yes|   10|
| D4|    Rain|    High|  Weak| Yes|    4|
| D5|    Rain|  Normal|  Weak| Yes|   18|
| D6|    Rain|  Normal|Strong|  No|   15|
| D7|Overcast|  Normal|Strong| Yes|    7|
| D8|   Sunny|    High|  Weak|  No|    5|
| D9|   Sunny|  Normal|  Weak| Yes|   12|
|D10|    Rain|  Normal|  Weak| Yes|   11|
|D11|   Sunny|  Normal|Strong| Yes|    6|
|D12|Overcast|    High|Strong| Yes|    6|
|D13|Overcast|    NULL|  Weak| Yes| NULL|
|D14|    Rain|    High|  NULL|  No| NULL|
+---+--------+--------+------+----+-----+

In [188]:
df_spark1.na.drop().show()

#  all rows with null values get deleted

+---+--------+----+--------+------+----+-----+
|day| outlook|temp|humidity|  wind|play|hours|
+---+--------+----+--------+------+----+-----+
| D1|   Sunny| Hot|    High|  Weak|  No|    3|
| D2|   Sunny| Hot|    High|Strong|  No|    5|
| D3|Overcast| Hot|    High|  Weak| Yes|   10|
| D4|    Rain|Mild|    High|  Weak| Yes|    4|
| D5|    Rain|Cool|  Normal|  Weak| Yes|   18|
| D6|    Rain|Cool|  Normal|Strong|  No|   15|
| D7|Overcast|Cool|  Normal|Strong| Yes|    7|
| D8|   Sunny|Mild|    High|  Weak|  No|    5|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|   12|
|D10|    Rain|Mild|  Normal|  Weak| Yes|   11|
|D11|   Sunny|Mild|  Normal|Strong| Yes|    6|
|D12|Overcast|Mild|    High|Strong| Yes|    6|
+---+--------+----+--------+------+----+-----+

In [189]:
#  drop() has three arguments how = any and thresh = None and subset
#  all --> all values should be null, any ---> any value is null then remove complete row
df_spark1.na.drop(how='all').show()

+---+--------+----+--------+------+----+-----+
|day| outlook|temp|humidity|  wind|play|hours|
+---+--------+----+--------+------+----+-----+
| D1|   Sunny| Hot|    High|  Weak|  No|    3|
| D2|   Sunny| Hot|    High|Strong|  No|    5|
| D3|Overcast| Hot|    High|  Weak| Yes|   10|
| D4|    Rain|Mild|    High|  Weak| Yes|    4|
| D5|    Rain|Cool|  Normal|  Weak| Yes|   18|
| D6|    Rain|Cool|  Normal|Strong|  No|   15|
| D7|Overcast|Cool|  Normal|Strong| Yes|    7|
| D8|   Sunny|Mild|    High|  Weak|  No|    5|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|   12|
|D10|    Rain|Mild|  Normal|  Weak| Yes|   11|
|D11|   Sunny|Mild|  Normal|Strong| Yes|    6|
|D12|Overcast|Mild|    High|Strong| Yes|    6|
|D13|Overcast| Hot|    NULL|  Weak| Yes| NULL|
|D14|    Rain|NULL|    High|  NULL|  No| NULL|
+---+--------+----+--------+------+----+-----+

In [190]:
# threshould = 2, atleast two non values should present
df_spark1.na.drop(thresh=2).show()

+---+--------+----+--------+------+----+-----+
|day| outlook|temp|humidity|  wind|play|hours|
+---+--------+----+--------+------+----+-----+
| D1|   Sunny| Hot|    High|  Weak|  No|    3|
| D2|   Sunny| Hot|    High|Strong|  No|    5|
| D3|Overcast| Hot|    High|  Weak| Yes|   10|
| D4|    Rain|Mild|    High|  Weak| Yes|    4|
| D5|    Rain|Cool|  Normal|  Weak| Yes|   18|
| D6|    Rain|Cool|  Normal|Strong|  No|   15|
| D7|Overcast|Cool|  Normal|Strong| Yes|    7|
| D8|   Sunny|Mild|    High|  Weak|  No|    5|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|   12|
|D10|    Rain|Mild|  Normal|  Weak| Yes|   11|
|D11|   Sunny|Mild|  Normal|Strong| Yes|    6|
|D12|Overcast|Mild|    High|Strong| Yes|    6|
|D13|Overcast| Hot|    NULL|  Weak| Yes| NULL|
|D14|    Rain|NULL|    High|  NULL|  No| NULL|
+---+--------+----+--------+------+----+-----+

In [191]:
#  dropping from specific columns
df_spark1.na.drop(subset=['wind']).show()

+---+--------+----+--------+------+----+-----+
|day| outlook|temp|humidity|  wind|play|hours|
+---+--------+----+--------+------+----+-----+
| D1|   Sunny| Hot|    High|  Weak|  No|    3|
| D2|   Sunny| Hot|    High|Strong|  No|    5|
| D3|Overcast| Hot|    High|  Weak| Yes|   10|
| D4|    Rain|Mild|    High|  Weak| Yes|    4|
| D5|    Rain|Cool|  Normal|  Weak| Yes|   18|
| D6|    Rain|Cool|  Normal|Strong|  No|   15|
| D7|Overcast|Cool|  Normal|Strong| Yes|    7|
| D8|   Sunny|Mild|    High|  Weak|  No|    5|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|   12|
|D10|    Rain|Mild|  Normal|  Weak| Yes|   11|
|D11|   Sunny|Mild|  Normal|Strong| Yes|    6|
|D12|Overcast|Mild|    High|Strong| Yes|    6|
|D13|Overcast| Hot|    NULL|  Weak| Yes| NULL|
+---+--------+----+--------+------+----+-----+

In [192]:
#  filling the missing values

df_spark1.na.fill('missing values', ['outlook', 'temp', 'humidity', 'wind', 'play', 'hours']).show()

+---+--------+--------------+--------------+--------------+----+-----+
|day| outlook|          temp|      humidity|          wind|play|hours|
+---+--------+--------------+--------------+--------------+----+-----+
| D1|   Sunny|           Hot|          High|          Weak|  No|    3|
| D2|   Sunny|           Hot|          High|        Strong|  No|    5|
| D3|Overcast|           Hot|          High|          Weak| Yes|   10|
| D4|    Rain|          Mild|          High|          Weak| Yes|    4|
| D5|    Rain|          Cool|        Normal|          Weak| Yes|   18|
| D6|    Rain|          Cool|        Normal|        Strong|  No|   15|
| D7|Overcast|          Cool|        Normal|        Strong| Yes|    7|
| D8|   Sunny|          Mild|          High|          Weak|  No|    5|
| D9|   Sunny|          Cool|        Normal|          Weak| Yes|   12|
|D10|    Rain|          Mild|        Normal|          Weak| Yes|   11|
|D11|   Sunny|          Mild|        Normal|        Strong| Yes|    6|
|D12|Overcast|          Mild|          High|        Strong| Yes|    6|
|D13|Overcast|           Hot|missing values|          Weak| Yes| NULL|
|D14|    Rain|missing values|          High|missing values|  No| NULL|
+---+--------+--------------+--------------+--------------+----+-----+

In [193]:
df_spark1.show()

+---+--------+----+--------+------+----+-----+
|day| outlook|temp|humidity|  wind|play|hours|
+---+--------+----+--------+------+----+-----+
| D1|   Sunny| Hot|    High|  Weak|  No|    3|
| D2|   Sunny| Hot|    High|Strong|  No|    5|
| D3|Overcast| Hot|    High|  Weak| Yes|   10|
| D4|    Rain|Mild|    High|  Weak| Yes|    4|
| D5|    Rain|Cool|  Normal|  Weak| Yes|   18|
| D6|    Rain|Cool|  Normal|Strong|  No|   15|
| D7|Overcast|Cool|  Normal|Strong| Yes|    7|
| D8|   Sunny|Mild|    High|  Weak|  No|    5|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|   12|
|D10|    Rain|Mild|  Normal|  Weak| Yes|   11|
|D11|   Sunny|Mild|  Normal|Strong| Yes|    6|
|D12|Overcast|Mild|    High|Strong| Yes|    6|
|D13|Overcast| Hot|    NULL|  Weak| Yes| NULL|
|D14|    Rain|NULL|    High|  NULL|  No| NULL|
+---+--------+----+--------+------+----+-----+

In [194]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['hours'],
    outputCols = ["{}_imputed".format(c) for c in ['hours']]
).setStrategy("mean")

In [195]:
df_spark1 = imputer.fit(df_spark1).transform(df_spark1)

In [196]:
# imputer_catogorical = Imputer(
#     inputCols = ['outlook', 'temp', 'humidity', 'wind'],
#     outputCols = ["{}_imputed".format(c) for c in ['outlook', 'temp', 'humidity', 'wind']]
# ).setStrategy("most_frequent")

#  we can use this in pyspark ---> limitation

In [197]:
#  = imputer_catogorical.fit(df_spark1).transform(df_spark1).show()

In [198]:
categorical_cols = ['outlook', 'temp', 'humidity', 'wind']

In [199]:
df_spark1.show()

+---+--------+----+--------+------+----+-----+-------------+
|day| outlook|temp|humidity|  wind|play|hours|hours_imputed|
+---+--------+----+--------+------+----+-----+-------------+
| D1|   Sunny| Hot|    High|  Weak|  No|    3|            3|
| D2|   Sunny| Hot|    High|Strong|  No|    5|            5|
| D3|Overcast| Hot|    High|  Weak| Yes|   10|           10|
| D4|    Rain|Mild|    High|  Weak| Yes|    4|            4|
| D5|    Rain|Cool|  Normal|  Weak| Yes|   18|           18|
| D6|    Rain|Cool|  Normal|Strong|  No|   15|           15|
| D7|Overcast|Cool|  Normal|Strong| Yes|    7|            7|
| D8|   Sunny|Mild|    High|  Weak|  No|    5|            5|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|   12|           12|
|D10|    Rain|Mild|  Normal|  Weak| Yes|   11|           11|
|D11|   Sunny|Mild|  Normal|Strong| Yes|    6|            6|
|D12|Overcast|Mild|    High|Strong| Yes|    6|            6|
|D13|Overcast| Hot|    NULL|  Weak| Yes| NULL|            8|
|D14|    Rain|NULL|    High|  NULL|  No| NULL|            8|
+---+--------+----+--------+------+----+-----+-------------+

In [200]:
from pyspark.sql import functions as F

modes = {}
for c in categorical_cols:
    mode_val = (
        df_spark1.groupBy(c).count()
          .orderBy(F.desc("count"))
          .filter(F.col(c).isNotNull())
          .first()[0]
    )
    modes[c] = mode_val


modes
# df = df.na.fill(modes)

{'outlook': 'Sunny', 'temp': 'Mild', 'humidity': 'High', 'wind': 'Weak'}

In [201]:
df_spark1.na.fill(modes).show()

+---+--------+----+--------+------+----+-----+-------------+
|day| outlook|temp|humidity|  wind|play|hours|hours_imputed|
+---+--------+----+--------+------+----+-----+-------------+
| D1|   Sunny| Hot|    High|  Weak|  No|    3|            3|
| D2|   Sunny| Hot|    High|Strong|  No|    5|            5|
| D3|Overcast| Hot|    High|  Weak| Yes|   10|           10|
| D4|    Rain|Mild|    High|  Weak| Yes|    4|            4|
| D5|    Rain|Cool|  Normal|  Weak| Yes|   18|           18|
| D6|    Rain|Cool|  Normal|Strong|  No|   15|           15|
| D7|Overcast|Cool|  Normal|Strong| Yes|    7|            7|
| D8|   Sunny|Mild|    High|  Weak|  No|    5|            5|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|   12|           12|
|D10|    Rain|Mild|  Normal|  Weak| Yes|   11|           11|
|D11|   Sunny|Mild|  Normal|Strong| Yes|    6|            6|
|D12|Overcast|Mild|    High|Strong| Yes|    6|            6|
|D13|Overcast| Hot|    High|  Weak| Yes| NULL|            8|
|D14|    Rain|Mild|    High|  Weak|  No| NULL|            8|
+---+--------+----+--------+------+----+-----+-------------+

In [202]:
#  filter operations

df_spark1.filter("hours >= 10").show()

+---+--------+----+--------+------+----+-----+-------------+
|day| outlook|temp|humidity|  wind|play|hours|hours_imputed|
+---+--------+----+--------+------+----+-----+-------------+
| D3|Overcast| Hot|    High|  Weak| Yes|   10|           10|
| D5|    Rain|Cool|  Normal|  Weak| Yes|   18|           18|
| D6|    Rain|Cool|  Normal|Strong|  No|   15|           15|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|   12|           12|
|D10|    Rain|Mild|  Normal|  Weak| Yes|   11|           11|
+---+--------+----+--------+------+----+-----+-------------+

In [203]:
#  selecting specific colomns after filtering
df_spark1.filter("hours >= 10").select(['outlook', 'temp', 'hours']).show()

+--------+----+-----+
| outlook|temp|hours|
+--------+----+-----+
|Overcast| Hot|   10|
|    Rain|Cool|   18|
|    Rain|Cool|   15|
|   Sunny|Cool|   12|
|    Rain|Mild|   11|
+--------+----+-----+

In [206]:
df_spark1.filter((df_spark1['hours'] >= 10) & (df_spark1['wind']=='Strong')).show()

+---+-------+----+--------+------+----+-----+-------------+
|day|outlook|temp|humidity|  wind|play|hours|hours_imputed|
+---+-------+----+--------+------+----+-----+-------------+
| D6|   Rain|Cool|  Normal|Strong|  No|   15|           15|
+---+-------+----+--------+------+----+-----+-------------+

In [207]:
df_spark1.filter((df_spark1['hours'] >= 10) | (df_spark1['wind']=='weak')).show()

+---+--------+----+--------+------+----+-----+-------------+
|day| outlook|temp|humidity|  wind|play|hours|hours_imputed|
+---+--------+----+--------+------+----+-----+-------------+
| D3|Overcast| Hot|    High|  Weak| Yes|   10|           10|
| D5|    Rain|Cool|  Normal|  Weak| Yes|   18|           18|
| D6|    Rain|Cool|  Normal|Strong|  No|   15|           15|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|   12|           12|
|D10|    Rain|Mild|  Normal|  Weak| Yes|   11|           11|
+---+--------+----+--------+------+----+-----+-------------+

In [208]:
df_spark1.filter(~(df_spark1['hours'] >= 10) ).show()

+---+--------+----+--------+------+----+-----+-------------+
|day| outlook|temp|humidity|  wind|play|hours|hours_imputed|
+---+--------+----+--------+------+----+-----+-------------+
| D1|   Sunny| Hot|    High|  Weak|  No|    3|            3|
| D2|   Sunny| Hot|    High|Strong|  No|    5|            5|
| D4|    Rain|Mild|    High|  Weak| Yes|    4|            4|
| D7|Overcast|Cool|  Normal|Strong| Yes|    7|            7|
| D8|   Sunny|Mild|    High|  Weak|  No|    5|            5|
|D11|   Sunny|Mild|  Normal|Strong| Yes|    6|            6|
|D12|Overcast|Mild|    High|Strong| Yes|    6|            6|
+---+--------+----+--------+------+----+-----+-------------+