- PySpark Dataframe
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [60]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [61]:
spark

In [62]:
df_spark = spark.read.option('header','true').csv('play_tennis.csv', inferSchema = True)

In [63]:
df_spark

DataFrame[day: string, outlook: string, temp: string, humidity: string, wind: string, play: string]

In [64]:
df_spark.printSchema()

root
 |-- day: string (nullable = true)
 |-- outlook: string (nullable = true)
 |-- temp: string (nullable = true)
 |-- humidity: string (nullable = true)
 |-- wind: string (nullable = true)
 |-- play: string (nullable = true)

In [65]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [66]:
df_spark.columns

['day', 'outlook', 'temp', 'humidity', 'wind', 'play']

In [67]:
df_spark.head(3)

[Row(day='D1', outlook='Sunny', temp='Hot', humidity='High', wind='Weak', play='No'),
 Row(day='D2', outlook='Sunny', temp='Hot', humidity='High', wind='Strong', play='No'),
 Row(day='D3', outlook='Overcast', temp='Hot', humidity='High', wind='Weak', play='Yes')]

In [68]:
df_spark.show()

+---+--------+----+--------+------+----+
|day| outlook|temp|humidity|  wind|play|
+---+--------+----+--------+------+----+
| D1|   Sunny| Hot|    High|  Weak|  No|
| D2|   Sunny| Hot|    High|Strong|  No|
| D3|Overcast| Hot|    High|  Weak| Yes|
| D4|    Rain|Mild|    High|  Weak| Yes|
| D5|    Rain|Cool|  Normal|  Weak| Yes|
| D6|    Rain|Cool|  Normal|Strong|  No|
| D7|Overcast|Cool|  Normal|Strong| Yes|
| D8|   Sunny|Mild|    High|  Weak|  No|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|
|D10|    Rain|Mild|  Normal|  Weak| Yes|
|D11|   Sunny|Mild|  Normal|Strong| Yes|
|D12|Overcast|Mild|    High|Strong| Yes|
|D13|Overcast| Hot|  Normal|  Weak| Yes|
|D14|    Rain|Mild|    High|Strong|  No|
+---+--------+----+--------+------+----+

In [69]:
df_spark.select(['outlook', 'wind']).show()

#  select multiple rows

+--------+------+
| outlook|  wind|
+--------+------+
|   Sunny|  Weak|
|   Sunny|Strong|
|Overcast|  Weak|
|    Rain|  Weak|
|    Rain|  Weak|
|    Rain|Strong|
|Overcast|Strong|
|   Sunny|  Weak|
|   Sunny|  Weak|
|    Rain|  Weak|
|   Sunny|Strong|
|Overcast|Strong|
|Overcast|  Weak|
|    Rain|Strong|
+--------+------+

In [70]:
df_spark.dtypes

[('day', 'string'),
 ('outlook', 'string'),
 ('temp', 'string'),
 ('humidity', 'string'),
 ('wind', 'string'),
 ('play', 'string')]

In [71]:
df_spark.describe().show()

+-------+----+--------+----+--------+------+----+
|summary| day| outlook|temp|humidity|  wind|play|
+-------+----+--------+----+--------+------+----+
|  count|  14|      14|  14|      14|    14|  14|
|   mean|NULL|    NULL|NULL|    NULL|  NULL|NULL|
| stddev|NULL|    NULL|NULL|    NULL|  NULL|NULL|
|    min|  D1|Overcast|Cool|    High|Strong|  No|
|    max|  D9|   Sunny|Mild|  Normal|  Weak| Yes|
+-------+----+--------+----+--------+------+----+

In [72]:
df_spark = df_spark.withColumn('temp_updated', df_spark['temp'])

#  for adding columns

In [74]:
df_spark.show()

+---+--------+----+--------+------+----+------------+
|day| outlook|temp|humidity|  wind|play|temp_updated|
+---+--------+----+--------+------+----+------------+
| D1|   Sunny| Hot|    High|  Weak|  No|         Hot|
| D2|   Sunny| Hot|    High|Strong|  No|         Hot|
| D3|Overcast| Hot|    High|  Weak| Yes|         Hot|
| D4|    Rain|Mild|    High|  Weak| Yes|        Mild|
| D5|    Rain|Cool|  Normal|  Weak| Yes|        Cool|
| D6|    Rain|Cool|  Normal|Strong|  No|        Cool|
| D7|Overcast|Cool|  Normal|Strong| Yes|        Cool|
| D8|   Sunny|Mild|    High|  Weak|  No|        Mild|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|        Cool|
|D10|    Rain|Mild|  Normal|  Weak| Yes|        Mild|
|D11|   Sunny|Mild|  Normal|Strong| Yes|        Mild|
|D12|Overcast|Mild|    High|Strong| Yes|        Mild|
|D13|Overcast| Hot|  Normal|  Weak| Yes|         Hot|
|D14|    Rain|Mild|    High|Strong|  No|        Mild|
+---+--------+----+--------+------+----+------------+

In [75]:
#  for removing the colomns

df_spark = df_spark.drop('temp_updated')

In [76]:
df_spark.show()

+---+--------+----+--------+------+----+
|day| outlook|temp|humidity|  wind|play|
+---+--------+----+--------+------+----+
| D1|   Sunny| Hot|    High|  Weak|  No|
| D2|   Sunny| Hot|    High|Strong|  No|
| D3|Overcast| Hot|    High|  Weak| Yes|
| D4|    Rain|Mild|    High|  Weak| Yes|
| D5|    Rain|Cool|  Normal|  Weak| Yes|
| D6|    Rain|Cool|  Normal|Strong|  No|
| D7|Overcast|Cool|  Normal|Strong| Yes|
| D8|   Sunny|Mild|    High|  Weak|  No|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|
|D10|    Rain|Mild|  Normal|  Weak| Yes|
|D11|   Sunny|Mild|  Normal|Strong| Yes|
|D12|Overcast|Mild|    High|Strong| Yes|
|D13|Overcast| Hot|  Normal|  Weak| Yes|
|D14|    Rain|Mild|    High|Strong|  No|
+---+--------+----+--------+------+----+

In [77]:
#  renaming colomns

df_spark.withColumnRenamed('outlook', 'weather').show()

+---+--------+----+--------+------+----+
|day| weather|temp|humidity|  wind|play|
+---+--------+----+--------+------+----+
| D1|   Sunny| Hot|    High|  Weak|  No|
| D2|   Sunny| Hot|    High|Strong|  No|
| D3|Overcast| Hot|    High|  Weak| Yes|
| D4|    Rain|Mild|    High|  Weak| Yes|
| D5|    Rain|Cool|  Normal|  Weak| Yes|
| D6|    Rain|Cool|  Normal|Strong|  No|
| D7|Overcast|Cool|  Normal|Strong| Yes|
| D8|   Sunny|Mild|    High|  Weak|  No|
| D9|   Sunny|Cool|  Normal|  Weak| Yes|
|D10|    Rain|Mild|  Normal|  Weak| Yes|
|D11|   Sunny|Mild|  Normal|Strong| Yes|
|D12|Overcast|Mild|    High|Strong| Yes|
|D13|Overcast| Hot|  Normal|  Weak| Yes|
|D14|    Rain|Mild|    High|Strong|  No|
+---+--------+----+--------+------+----+